@use '../libs/mixins';
@use 'sass:map';

/**     CSS   **/
body {
    width: mixins.$mainWidth; /* Assure the page reaches all screen size */
    /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
    @include mixins.fonts($weight: 300, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1rem);
    color: map.get(mixins.$colors, font-color);
    background-color: map.get(mixins.$colors, bgBody-color);
    font-family: map.get(mixins.$font, family);
    //margin: 0;
    @include mixins.boxSizing();
}

.title {
    text-align: center;
    margin-top: 20px;
}

.banner {
    width: mixins.$mainWidth;
    padding: 70px 0;
    @include mixins.block();
    text-align: center;
    background-image: url("../../img/logo.jpg");
    background-repeat: no-repeat;           /* To avoid repeat images when a width finishes */
    background-size: cover;                 /* set background value, can be express in Percentage */
    color: map.get(mixins.$colors, white-color);
    background-position-y: 60%;             /* Move image vertically */
    @include mixins.breakpoint2(){
        padding: 30px 0;
    }
}
.banner__title {
    width: mixins.$mainWidth;
    /* Approximately 2=32px *** 1.7vw=31.62px-19.28px *** 1.2rem=19.2px */
    @include mixins.fonts($weight: 600, $minSize: 1.2rem, $prefValue: 1.7vw, $maxSize: 2rem);
    //margin: 10px;
}

.banner__description {
    width: 350px;
    margin: 0 auto; /* Position in the middle */
    /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-16.031px *** 1rem = 16px */
    @include mixins.fonts($weight: normal, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1.3rem);
    opacity: 0.7;
}

.search__container {
    text-align: center;
    margin: 20px 0;
}

#thronesSearch,#continentsSearch {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.thrones__grid,.continents__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.thrones__card,.continent__card {
    background-color: map.get(mixins.$colors, card-background);
    border-radius: 20px;
    @include mixins.flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.25 ease;
    cursor: pointer;
}

.thrones__card:hover,.continent__card:hover {
    transform: translateY(-5px);
}

.thrones__info,.continent__info {
    @include mixins.flexbox(column);
}

.throne__name,.continent__name {
    font-size: 1.2em;
    color: map.get(mixins.$colors, gray-color);
    margin: 0;
    text-transform: capitalize;
}

.thrones__desc {
    @include mixins.flexbox(column);
}

.throne__desc,.continent__desc {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    color: map.get(mixins.$colors, white-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: map.get(mixins.$colors, desc-color);
}

.throne__title {
    background-color: map.get(mixins.$colors, alt2-color);
}

.throne__family {
    background-color: map.get(mixins.$colors, alt1-color);
    color: map.get(mixins.$colors, white-color);
}

.throne__image__container,.continent__image__container {
    flex-shrink: 0;
}

.throne__image,.continent__image {
    width: 96px;
    height: 96px;
    border-radius: 25px;
}
